<!-- Page footer -->
<!-- https://bulma.io/documentation/layout/footer/ -->
<footer class="footer">
  <div class="content has-text-centered is-size-7">
    <p>
      <a href="#top">
        <span class="fas fa-arrow-up"></span>
        <span class="has-text-weight-medium">Back to Top</span>
      </a>
    </p>

    <p id="tools">
      <a href="https://github.com/usf-cs360-spring2020/project-ewwong2" class="button is-small is-rounded">
        <i class="fab fa-github-alt"></i>
      </a>

      <a href="https://fontawesome.com/" class="button is-small is-rounded">
        <i class="fab fa-font-awesome"></i>
      </a>

      <a href="https://bulma.io" class="button is-small is-rounded">
        <img src="https://bulma.io/images/bulma-logo.png" alt="Made with Bulma" height="24" style="height: 12px;">
      </a>

      <a href="https://www.tableau.com" class="button is-small is-rounded">
        <img src="https://upload.wikimedia.org/wikipedia/commons/4/4b/Tableau_Logo.png" style="height: 18px; padding-left: 5px;" />
      </a>

      <a href="https://d3js.org/" class="button is-small is-rounded">
        <img src="https://raw.githubusercontent.com/d3/d3-logo/master/d3.png" style="height: 20px; padding-left: 5px;" />
      </a>

      <a href="https://fusejs.io/" class="button is-small is-rounded">
        <img src="https://fusejs.io/assets/img/logo.png" style="height: 20px;" />
      </a>
    </p>
    <p>✏️ Created by <a href="{{ "/about.html" | prepend: site.baseurl }}">Edmund Wong</a> for Data Visualization Course</p>
  </div>
</footer>
<!-- End page footer -->
